.heading{
    margin-left: 25rem;
    padding-top: 3rem;
    color: rgb(34, 34, 141);
    margin-bottom: 40px;
}

.icon{
    margin-left: 70rem;
    margin-top: 0.5rem;
}

.avatar{
    margin-left: 1rem;
}